*,*:before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    padding-top: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: black;
}


.main-landing{
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing:inherit;
}

footer {
    margin-bottom: 0px;
}

.bottom {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-evenly;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 0.8em;
    padding-left: 10px;
}

.foothead {
    font-size: 2em;
}

.tiny {
    margin: 15px;
}

.social {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 0.8em;
}

.list-group-item{
    background-color: black;
}

.profile-div{
    padding-bottom: 100px;
}

.profile-details{
    margin-left: -50px;
}